{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="{% static 'style.css' %}" rel="stylesheet">
  <link href="https://code.jquery.com/jquery-3.7.1.min.js" type='text/javascript'>
  <title>{% block title %}{% endblock %} - Okommerz</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/daisyui@4.6.0/dist/full.min.css" rel="stylesheet" type="text/css" />
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
  <header class='bg-blue-200 px-10 lg:px-20 py-4 w-full' id='header'>
    <div class='page-container flex items-center justify-between w-full'>
      <a href="/">
        <h1 class='text-3xl font-bold inline-block'>Okommerz</h1>
      </a>
      <nav class='flex items-center gap-x-6'>
        {% if request.user.is_authenticated %}
          <div class="dropdown dropdown-end">
            <div tabindex="0" role="button" class="whitespace-pre">Hello, {{ user.first_name }}</div>
            <ul tabindex="0" class="dropdown-content z-[1] menu p-2 shadow bg-base-100 rounded-box w-52 mt-2" id='account-menus'></ul>
            <dialog id="my_modal_3" class="modal">
              <div class="modal-box p-10">
                <h3 class="font-bold text-2xl text-center">Logging out...</h3>
              </div>
            </dialog>
          </div>
        {% else %}
          <a href={% url 'login' %}>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-circle-user"><circle cx="12" cy="12" r="10"/><circle cx="12" cy="10" r="3"/><path d="M7 20.662V19a2 2 0 0 1 2-2h6a2 2 0 0 1 2 2v1.662"/></svg>
          </a>
        {% endif %}
        {% include 'searchbar.html' %}
        {% include 'cart.html' %}
      </nav>
    </div>
  </header>
  {% block hero %}{% endblock %}
  <main class='page-container main-body p-10 lg:p-20'>
    {% block content %}
    {% endblock %}
  </main>
  <footer class="px-10 lg:px-20 py-16 bg-neutral text-neutral-content">
    <div class='page-container footer'>
      <aside>
        <h1 class='text-3xl font-bold'>Okommerz</h1>
        <p>An e-commerce platform for your businesses</p>
      </aside>
      <nav>
        <header class="footer-title">Services</header> 
        <a class="link link-hover">Branding</a>
        <a class="link link-hover">Design</a>
        <a class="link link-hover">Marketing</a>
        <a class="link link-hover">Advertisement</a>
      </nav> 
      <nav>
        <header class="footer-title">Company</header> 
        <a class="link link-hover">About us</a>
        <a class="link link-hover">Contact</a>
        <a class="link link-hover">Jobs</a>
        <a class="link link-hover">Press kit</a>
      </nav> 
      <nav>
        <header class="footer-title">Legal</header> 
        <a class="link link-hover">Terms of use</a>
        <a class="link link-hover" href='/privacy-policy'>Privacy policy</a>
        <a class="link link-hover">Cookie policy</a>
      </nav>
    </div>
    <div class='page-container mt-10'>
      <h3 class='text-sm'>&copy; 2024 Okommerz</h3>
    </div>
  </footer>

  <script>
    function backToTop(){
      window.scrollTo(0,0);
    }

    let header = document.getElementById("header");

    window.addEventListener('scroll', function(){
      if (window.scrollY > 100){
        header.classList.add("active")
      } else {
        header.classList.remove("active")
      }
    })
    window.addEventListener('load', function(){
      let accountMenus = document.getElementById('account-menus')

      let menus = [
        {
          title:'My account',
          icon:`<svg class='icon-menu' xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-user"><path d="M19 21v-2a4 4 0 0 0-4-4H9a4 4 0 0 0-4 4v2"/><circle cx="12" cy="7" r="4"/></svg>`,
          link:'/my-account',
          onclick:null
        },
        {
          title:'Log out',
          icon:`<svg class='icon-menu' xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-log-out"><path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4"/><polyline points="16 17 21 12 16 7"/><line x1="21" x2="9" y1="12" y2="12"/></svg>`,
          link:'/logout',
          onclick:'my_modal_3.showModal()'
        }
      ]

      let menuList = menus.map(menu => `<li class='account-menu' onclick=${menu.onclick}>
        <a href=${menu.link}>
          ${menu.icon}
          <span class='text-menu'>${menu.title}</span>
        </a>
      </li>`).join('')
  
      accountMenus.innerHTML = menuList
    })
  </script>
</body>
</html>