{% extends 'base.html' %}

{% block title %}Sign in{% endblock %}

{% block content %}

<div id='signin-form'>
  <h1 class='text-4xl font-bold text-center mb-10'>Log in to your account</h1>

  <form method='POST' class='flex flex-col gap-y-2 max-w-xl mx-auto'>
    {% csrf_token %}
    <div class='flex flex-col gap-y-2'>
      <label for="id_username" class='text-lg' id='user_label'>Username</label>
      <input type="text" placeholder="Username" class="input input-bordered w-full" name="username" maxlength="255" required="" id="id_username"/>
      <p id='user_error' class='text-red-500'></p>
    </div>
    <div class='flex flex-col gap-y-2'>
      <label for="id_password" class='text-lg' id='pass_label'>Password</label>
      <input type="password" placeholder="Password" class="input input-bordered w-full" name="password" maxlength="255" required="" id="id_password"/>
      <p id='pass_error' class='text-red-500'></p>
    </div>
    <a class='text-neutral hover:underline'>Forgot password?</a>
    <p class='text-red-500 text-sm'>{{ message }}</p>
    <button class='btn btn-neutral'>Submit</button>
  </form>
</div>

{% endblock %}