{% extends 'base.html' %}

{% block title %}Privacy Policy{% endblock %}

{% block content %}

<header class='text-center max-w-4xl mx-auto mb-10'>
  <h1 class='text-4xl font-bold text-center mb-2'>Privacy Policy</h1>
  <p class=''>Last Updated: 01 Jan 2024</p>
</header>

<main class='max-w-4xl mx-auto flex flex-col gap-y-8'>  
  <section class='flex flex-col gap-y-3'>
    <h2 class='text-2xl font-bold'>Information We Collect:</h2>
    <ul>
      <li><strong>Personal Information:</strong> When you create an account, we may collect your name, email address, and other necessary details.</li>
      <li><strong>Usage Information:</strong> We gather information about how you interact with our website, including pages visited, time spent, and browser type.</li>
      <li><strong>Cookies:</strong> We use cookies to enhance your browsing experience and collect data on website usage.</li>
    </ul>
  </section>
  
  <section class='flex flex-col gap-y-3'>
    <h2 class='text-2xl font-bold'>How We Use Your Information:</h2>
    <ul>
      <li><strong>Providing Services:</strong> We use your personal information to deliver the services you requested.</li>
      <li><strong>Improving Our Website:</strong> Your usage data helps us analyse and enhance the performance and content of our website.</li>
      <li><strong>Communications:</strong> We may send you updates, newsletters, or promotional materials based on your preferences.</li>
    </ul>
  </section>
  
  <section class='flex flex-col gap-y-3'>
    <h2 class='text-2xl font-bold'>Information Sharing:</h2>
    <ul>
      <li><strong>Third Parties:</strong> We may share your information with trusted third parties for specific purposes, such as analytics or marketing.</li>
      <li><strong>Legal Requirements:</strong> We may disclose your information when required by law or in response to legal requests.</li>
    </ul>
  </section>
  
  <section class='flex flex-col gap-y-3'>
    <h2 class='text-2xl font-bold'>Your Choices:</h2>
    <ul>
      <li><strong>Account Settings:</strong> You can update your account information and preferences at any time.</li>
      <li><strong>Marketing Communications:</strong> You have the option to opt-out of marketing communications.</li>
    </ul>
  </section>
  
  <section class='flex flex-col gap-y-3'>
    <h2 class='text-2xl font-bold'>Security:</h2>
    <p>We take reasonable measures to protect your personal information from unauthorised access or disclosure.</p>
  </section>
  
  <section class='flex flex-col gap-y-3'>
    <h2 class='text-2xl font-bold'>Changes to This Privacy Policy:</h2>
    <p>We may update our Privacy Policy occasionally. The latest version will be posted on our website with the effective date.</p>
  </section>
  
  <section class='flex flex-col gap-y-3ß'>
    <h2 class='text-2xl font-bold'>Contact Us:</h2>
    <p>If you have questions or concerns about our Privacy Policy, please contact us at <a href="mailto:contact@email.com">contact@email.com</a>.</p>
  </section>
</main>

{% endblock %}