{% extends 'base.html' %}

{% block title %}Shop{% endblock %}

{% block content %}

<h1 class='text-4xl font-bold text-center mb-10'>Products</h1>

<section class='grid grid-cols-1 lg:grid-cols-3 xl:grid-cols-4 gap-y-10 lg:gap-10'>
  <div class='col-span-1'>
    <div class='flex flex-col gap-y-2'>
      <label for='filter'>Filter</label>
      <select class="select select-accent w-full" id='filter'>
        {% for category in product_category %}
        <option value={{ category }}>{{ category }}</option>
        {% endfor %}
      </select>
    </div>
  </div>
  <div class='col-span-2 xl:col-span-3'>
    <div class='grid lg:grid-cols-2 xl:grid-cols-3 gap-8'>
      {% if products|length > 0 %}
        {% for product in products %}
          <div class="card bg-base-100 hover:shadow-lg border overflow-hidden">
            <a href="product/{{ product.id }}">
            {% if product.product_image %}
              <figure><img src="{{ product.product_image.url }}" alt="{{ product.product_image.url }}" class='min-h-[300px] object-cover'/></figure>
            {% else %}
              <div class='bg-gray-200 max-w-full min-h-[300px] h-full'></div>
            {% endif %}
            </a>
            <div class="card-body">
              <p class='text-sm'>{{ product.product_category }}</p>
              <div class='mb-4'>
                <a href="product/{{ product.id }}">
                  <h2 class="card-title">{{ product.product_name }}</h2>
                </a>
                {% if product.sales_price %}
                <div class='inline-flex items-center gap-x-2'>
                  <p class='line-through text-red-400 text-xs'>฿{{ product.regular_price }}</p>
                  <p>฿{{ product.sales_price }}</p>
                </div>
                {% else %}
                  <p>฿{{ product.regular_price }}</p>
                {% endif %}
              </div>
              <div class="card-actions">
                <button class="btn btn-primary w-full">Add to cart</button>
              </div>
            </div>
          </div>
        {% endfor %}
      {% else %}
        <h1>There are no products you are looking for.</h1>
      {% endif %}
    </div>
  </div>
</section>

{% endblock %}