:root {
    --header-height:80px;
}

* {
    font-family:'Plus Jakarta Sans', sans-serif
}

.page-container {
    margin:auto;
    max-width:1536px;
}

.main-body {
    margin-top:var(--header-height);
    box-sizing:content-box;
}

.blog-card {
    height:100%;
}

#header {
    position:absolute;
    top:0;
    height:var(--header-height);
    display:flex;
    z-index:99;
}

#header.active {
    animation:headerAnimWhenScroll 500ms forwards;
}

#navbar {
    display:flex;
    justify-content:space-between;
    width:100%;
    align-items:center;
}

@keyframes headerAnimWhenScroll {
    from {
        position:fixed;
        opacity:0;
    }
    to {
        position:fixed;
        opacity:1
    }
}

#navbar-mobile {
    display:none;
}

#navbar-mobile-overlay {
    opacity:0;
    visibility:hidden;
    transition:opacity 300ms, visibility 300ms;
}

#navbar-mobile-overlay.active {
    z-index:3;
    background-color:rgba(0,0,0,0.5);
    position:fixed;
    width:100%;
    height:100%;
    top:0;
    left:0;
    opacity:1;
    visibility:visible;
    transition:opacity 300ms, visibility 300ms;
}

#navbar-mobile-menu {
    max-width:400px;
    width:100%;
    background-color:white;
    position:fixed;
    height:100%;
    top:0;
    right:0;
    z-index:10;
    padding:40px;
}

.accordion-title {
    background-color:#35bcde;
    padding:12px;
    display:flex;
    align-items:center;
    justify-content:space-between;
  }

  .accordion-title svg {
    transition:transform 300ms;
  }

  .accordion-title.active svg {
    transform:rotate(180deg);
    transition:transform 300ms;
  }
  
  .accordion-desc {
    padding:12px;
    display:none;
    background:#BFDBFE;
  }
  
  .accordion-desc.active {
    display:block;
  }

.carousel-container {
    position: relative;
    width: 100%;
    overflow: hidden;
    margin-top:var(--header-height);
    height:500px;
    touch-action: pan-y;
}

.carousel-track {
    display: flex;
    min-height:500px;
    transition: transform 0.4s;
    will-change: transform;
}

.carousel-item {
    min-width: 100%;
    box-sizing: border-box;
    padding: 10px;
}

.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    background-color:white;
    opacity:0.5;
    border-radius:999px;
    width:40px;
    height:40px;
    display:flex;
    align-items:center;
    justify-content:center;
    transition:opacity 300ms, left 300ms, right 300ms;
}

.carousel-container:hover .carousel-button {
    opacity:1;
    transition:opacity 300ms;
}

.carousel-container:hover #prevButton {
    left:40px;
    transition:left 300ms;
}

.carousel-container:hover #nextButton {
    right:40px;
    transition:right 300ms;
}

.carousel-circles {
    display:flex;
    position:absolute;
    gap:8px;
    bottom:20px;
    justify-content:center;
    width:100%;
}

.carousel-circle {
    width:10px;
    height:10px;
    border-radius:999px;
    background-color:white;
    opacity:0.5;
    cursor:pointer;
}

.carousel-circle.active {
    opacity:1;
}

#prevButton {
    left: 20px;
}

#nextButton {
    right: 20px;
}

.search-list {
    opacity:0;
    visibility:hidden;
    transform:translateY(10px)
}

#id_quantity::-webkit-outer-spin-button,
#id_quantity::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#form-sec.prev {
    animation:changeFormAnimPrev 600ms;
}

#form-sec.next {
    animation:changeFormAnimNext 600ms;
}


@keyframes changeFormAnimPrev {
    0% {
        transform:translateX(0);
        opacity:1;
        visibility:visible;
    }
    33% {
        transform:translateX(20px);
        opacity:0;
        visibility:hidden;
    }
    67% {
        transform:translateX(-20px);
        opacity:0;
        visibility:hidden;
    }
    100% {
        transform:translateX(0);
        opacity:1;
        visibility:visible;
    }
}

@keyframes changeFormAnimNext {
    0% {
        transform:translateX(0);
        opacity:1;
        visibility:visible;
    }
    33% {
        transform:translateX(-20px);
        opacity:0;
        visibility:hidden;
    }
    67% {
        transform:translateX(20px);
        opacity:0;
        visibility:hidden;
    }
    100% {
        transform:translateX(0);
        opacity:1;
        visibility:visible;
    }
}